{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/css/weather.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

<div id="forecast-container">
    <div id="weather-status-emoji" class="weather-icon weather-status-container">&#9728;</div> <!-- Sun -->
    <div class="weather-icon weather-status-container">&#9925;</div> <!-- Sun with clouds -->
    <div class="weather-icon weather-status-container">&#9729;</div> <!-- Clouds -->
    <div class="weather-icon weather-status-container">&#127783;</div> <!-- Rain -->
    <div class="weather-icon weather-status-container">&#127784;</div> <!-- Snow -->

    <i class="weather-icon fa fa-thermometer-0" ></i>
    <i class="weather-icon fa fa-thermometer-1" ></i>
    <i class="weather-icon fa fa-thermometer-2" ></i>
    <i class="weather-icon fa fa-thermometer-3" ></i>
    <i class="weather-icon fa fa-thermometer-4" ></i>

    <i class='weather-icon fa fa-refresh'></i>
</div>

<script>
function onValidDom(func) {
    if (document.readyState === "loading") {
        let callback = function () {
            if (document.readyState !== "loading") {
                func();

                document.removeEventListener("readystatechange", callback);
            }
        };
        document.addEventListener("readystatechange", callback, false);
    } else {
        func();
    }
}

let url = 'http://127.0.0.1:8000/api/weather/v1/forecast';

let xmlHttp = new XMLHttpRequest();
xmlHttp.onreadystatechange = function() {
    if (xmlHttp.readyState === 4) {
        if (xmlHttp.status === 200) {
            print(xmlHttp.responseText);
        } else {
            print("Let's put a better message here: Error while requesting weather data!!!")
        }
    }
};

xmlHttp.open("GET", url, true); // true for asynchronous
xmlHttp.send(null);
</script>