{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness app</title>
    <!-- For extra css for specific pages -->
    {% block extra_head %}

    {% endblock %}
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<!--Main Navigation-->
<header>
<div class="container">
<div>
    <h1>Workout</h1>
</div>

    <div>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'create workout' %}">Create Workout</a></li>
        <li><a href="{% url 'create exercise' %}">Create Exercise</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Sign up</a></li>
        {% endif %}
    </div>
</div>
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main>
    <div class="m-5" id="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
<!--Main Layout-->

<!--Main Footer-->
<footer>
<div>
    <h1>Footer</h1>
</div>

</footer>
<!--Main Footer-->

    <script>
        const crfToken = '{{ csrf_token }}'
    </script>
    {% block extra_js %}

    {% endblock %}

</body>
</html>