body{
    padding-left: 100px;
    margin: 0;
    font-family: sans-serif;
}
.container{
    border-radius: 25px;
    size: auto;
    margin: 100px auto;
    background: midnightblue;
    position: center;
    padding: 50px;
}
.container .boxed{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    position: relative;
    size: auto;
    background: greenyellow;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
button{
    border-radius: 15px;
    color: black ;
  background-color: #ffcfbe;
  border-top: 1px solid #c0ffff ;
  border-right: 1px solid #00f ;
  border-bottom: 1px solid #00f ;
  border-left: 1px solid #c0ffff;
}
h1{
    font-size: 20px;
    color: #ffcfbe;
    background-position: center;
    position: center;
}
h2{
    font-size: 10px;
    color: lightgray;
}

label{
    color: bisque;
    padding-bottom: 10px;
    margin: auto;
    background-image: url("https://images.everydayhealth.com/images/healthy-living-landing-header-1920x1080.jpg?sfvrsn=3f546a95_1");
    background-size: cover;
    background-position: inherit;
    background-attachment: fixed;
}

main {
    min-height: 800px;
    margin: auto;
    text-align: center;
}

#purchase-button {
    width: fit-content;
    color: black!important;
    font-weight: bold!important;
}

#navigation-bar {
    background-color: rgba(180,44,20,0.6) !important;
    font-family: Calibri;
    font-weight: 600;
    color: white!important;
}

#logo-header{
    background-color: rgba(0,0,0,0);
    margin:0;
    padding: 0;
}

#logo-header img {
    height: 200px;
    display: flex;
    justify-content: center;
}

.header-image {
    margin-left: 5%;
    display: block;
    transform: scale(1.7);
    transform-origin: 50% 50%;
}


a.navbar-brand:hover {
    color: rgb(255,255,255)!important;
}

.page-footer {
    background-color: rgba(152,151,146,0.8) !important;
}

.footer-copyright {
    background-color: rgba(139,138,133,0.6) !important;
}

.fit-content {
    width: fit-content;
}

.page-content {
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}