body{
    padding-left: 100px;
    margin: 0;
    font-family: sans-serif;
}
.container{
    border-radius: 25px;
    size: auto;
    margin: 100px auto;
    background: midnightblue;
    position: center;
    padding: 50px;
}
.container .boxed{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    position: relative;
    size: auto;
    background: orangered;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
button{
    border-radius: 15px;
    color: black ;
  background-color: #ffcfbe;
  border-top: 1px solid #c0ffff ;
  border-right: 1px solid #00f ;
  border-bottom: 1px solid #00f ;
  border-left: 1px solid #c0ffff;
}
h1{
    font-size: 20px;
    color: #ffcfbe;
    background-position: center;
    position: center;
}
h2{
    font-size: 10px;
    color: lightgray;
}

label{
    color: bisque;
    margin-bottom: 30px;
    padding-bottom: 10px;
}