.exercise-container{
    width: 30rem;
    margin: 20px
}
.exercise-container:hover {
    transform: scale(1.0);
}

label {
    display: block;
    font-weight: bold;
}

#exercise-description {
    margin-top: 20px;
    margin-bottom: 10px;
}

#exercise-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

#preview {
    position: absolute;
    left: 10px;
    font-size: large;
}

#preview:hover {
    font-size: x-large;
    color: darkred;
}

.item-title {
    margin-top: 20px;
}

#equipment-label, #exercise-equipment, #trains-label, #exercise-trains {
    padding-right: 5px;
    display: inline-block;
    width: fit-content;
    margin: auto;
}


