{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "exercise/css/exercise.css" %}">
    <link rel="stylesheet" href="{% static "scrollbars.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard_nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard_header.css' %}">
{% endblock %}

{% block content %}

     {% include 'dashboard/dashboard_header_exercise.html' %}
    <div class="search-bar">
    {% include 'dashboard/dashboard_nav_exercise.html' %}
    </div>
    <div class="page-content scrollbar-info">
        <div class="center-page-content">
            {% if exercises %}
            {% for exercise in exercises %}
                {% include 'exercise/single_exercise_minimal.html' with exercise=exercise %}
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p>No exercises to show, perhaps create a new one?</p>
    </div>
    {% endif %}

{% endblock %}

{% block extra_js %}

<script>let search_class="exercise-container"</script>
<script src="{% static 'search_page_content_filter.js' %}"></script>
<script src="{% static 'workout/js/rate_exercise.js' %}"></script>

{% endblock %}