{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "exercise/css/exercise.css" %}">
{% endblock %}

{% block content %}
<div class="container">
        <h1>Your dashboard</h1>
<div class="page-content">
    <div class="boxed">
        <div class="col-md-12">
            <h3 class="mt-2">Created Exercises</h3>
            
            <div class="center-page-content">
                {% for exercise in user_exercises %}
                    {% include 'exercise/single_exercise_minimal.html' with exercise=exercise %}
                {% endfor %}
            </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'workout/js/rate_exercise.js' %}"></script>
{% endblock %}