{% load static %}
<!--NAVIGATION BAR START-->
{% load static %}
<!--NAVIGATION BAR START-->
<nav id="dashboard-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashboardToggler"
            aria-controls="dashboardToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="dashboardToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a id='public-nav' class="navbar-brand" href="{% url 'public_exercises' %}">Public<span class="sr-only"></span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a id='favourite-nav' class="navbar-brand" href="">Favourites<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a id='mine-nav' class="navbar-brand" href="{% url 'user_exercises' %}">My Own<span class="sr-only"></span></a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!-- Dropdown -->
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Create</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'create exercise' %}">Exercise</a>
                    <a class="dropdown-item" href="{% url 'create workout' %}">Workout</a>
                </div>
            </li>
            {% endif %}
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Order By</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Publish date</a>
                    <a class="dropdown-item" href="#">Popularity</a>
                    <a class="dropdown-item" href="#">Rating</a>
                </div>
            </li>
            {% url 'user_exercises' as user_url %}
            {% if not request.path == user_url %}
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Category</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <!-- Can be modularly added if we send up the categories -->
                        <a class="dropdown-item" href="{% url 'public_exercises' %}">All</a>
                    {% for muscle in muscle_groups %}
                        <a class="dropdown-item" href="{% url 'public-filter-e' muscle.id %}">{{ muscle }}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
        </ul>

        <form class="form-inline">
            <div class="md-form my-0">
            {% include 'dashboard/search-input.html' %}
            </div>
        </form>
    </div>
</nav>
    <!--NAVIGATION BAR END-->