{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "exercise/css/exercise.css" %}">
    <link rel="stylesheet" href="{% static 'scrollbars.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard_nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard_header.css' %}">
{% endblock %}

{% block content %}
    {% include 'dashboard/dashboard_header_exercise.html' %}
    <div class="search-bar">
    {% include 'dashboard/dashboard_nav_exercise.html' with muscle_groups=muscle_groups %}
    </div>
    {% if fav_exercise %}
    <div class="page-content scrollbar-info">
        <div class="center-page-content">
            {% for fav in fav_exercise %}
                {% include 'exercise/single_exercise_minimal.html' with exercise=fav.exercise %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="page-content">
        <h2>You have no favourites</h2>
    </div>
    {% endif %}
{% endblock %}
{% block extra_js %}

<script>
    // This is for the search input
    let search_class="exercise-container"
</script>
<script>
    // This is for the order by methods
    let target_order_element = "exercise-background-shadow";
    let render_inside_element = "center-page-content";
</script>
<script src="{% static 'order_by.js' %}"></script>
<script src="{% static 'search_page_content_filter.js' %}"></script>
<script src="{% static 'workout/js/rate_exercise.js' %}"></script>

{% endblock %}