{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "exercise/css/exercise.css" %}">
{% endblock %}

{% block content %}
<div class="container">
        <h1>Your dashboard</h1>
<div class="page-content">
    <div class="boxed">
        <div class="col-md-12">
            <h3 class="mt-2">Created Exercises</h3>
            
            <div class="center-page-content">
                {% for exercise in user_exercises %}
                    {% include 'exercise/single_exercise_minimal.html' with exercise=exercise %}
                {% endfor %}
            </div>

            <h3 class="mt-2">Created Workouts</h3>

            <div class="center-page-content">
                {% for workout in user_workouts %}
                    <div class="workout-background-shadow">
                    <div class="workout-container">
                        <div class="creation-date">{{ workout.time_passed }}</div>
                        <div class="item-title">
                            <a href=#>{{workout.Name}}</a>
                        </div>
                        <div class="short-description">{{ workout.short_description }}</div>
                        <div><b>Goal:</b> {{workout.workout_goal}}</div>
                        <div><b>Category:</b> {{workout.Category}}</div>
                        <div class="social-stats">
                            <div class="likes" workout-id="{{ workout.id }}">
                                <span class="social-span">{{ workout.Likes }}</span>
                                {% if workout.Has_Liked %}
                                    <i class="fa fa-thumbs-up like-idf liked"></i>
                                {% else %}
                                    <i class="fa fa-thumbs-up like-idf"></i>
                                {% endif %}
                            </div>
                            <div class="dislikes" workout-id="{{ workout.id }}">
                                <span class="social-span">{{ workout.Dislikes }}</span>
                                {% if workout.Has_Disliked %}
                                    <i class="fa fa-thumbs-down dislike-idf disliked"></i>
                                {% else %}
                                    <i class="fa fa-thumbs-down dislike-idf"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="workout-creator">
                            {% if workout.User.username == 'System' %}
                                By {{ workout.User.username }}
                            {% else %}
                                <!-- Link to user profile -->
                                <a href="#"><span style="color: black;">By</span> {{ workout.User.username }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'workout/js/rate_exercise.js' %}"></script>
{% endblock %}