{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "exercise/css/exercise.css" %}">
{% endblock %}

{% block content %}
<div>
<h2>Exercises</h2>
    </div>
    {% if exercises %}
    <div class="page-content">
        <div class="center-page-content">
            {% for exercise in exercises %}
                <div class="exercise-background-shadow">
                    <div class="exercise-container">
                        <div class="item-title">
                            <a href=#>{{exercise.Title}}</a>
                        </div>
                        <div><b>Trains:</b> {{exercise.muscle_group}}</div>
                        {% if exercise.equipent == None %}
                            <div><b>Equipment:</b> None</div>
                        {% else %}
                            <div><b>Equipment:</b> {{exercise.equipment}}</div>
                        {% endif %}
                        <div class="social-stats">
                            <div class="likes" exercise-id="{{ exercise.id }}">
                                <span class="social-span">{{ exercise.Likes }}</span>
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="dislikes"  exercise-id="{{ exercise.id }}">
                                <span class="social-span">{{ exercise.Dislikes }}</span>
                                <i class="fa fa-thumbs-down"></i>
                            </div>
                        </div>
                        <div class="exercise-creator">
                            {% if exercise.Creator.username == 'System' %}
                                By {{ exercise.Creator }}
                            {% else %}
                                <!-- Link to user profile -->
                                <a href="#"><span style="color: black;">By</span> {{ exercise.Creator }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="page-content">
        <p>There are no public exercises</p>
    </div>
    {% endif %}

{% endblock %}

{% block extra_js %}
<script>
    
    {% if user.is_authenticated %}
    function display_exercise_rating(exercise_id, new_status) {
        console.log("Exercise update " + exercise_id + " " + new_status)
    }

    function post_exercise_rating(exercise_id_input, new_status) {
        let xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState === 4) {
                if (xmlHttp.status !== 200) {
                    alert("Your rating could not be saved")
                }
            }
        };

        xmlHttp.open("POST", "{% url 'rate_exercise' %}", true); // true for asynchronous
        xmlHttp.setRequestHeader("Content-Type", "application/json");
        xmlHttp.send(JSON.stringify({exercise_id: exercise_id_input, rating: new_status}));
    }

    function handle_exercise_rating(exercise_id, new_status) {
        display_exercise_rating(exercise_id, new_status)
        post_exercise_rating(exercise_id, new_status)
    }
    {% else %}
    
    function handle_exercise_rating(exercise_id, new_status) {
        alert("Please login to rate a workout");
    }

    {% endif %}

    // Attach on clicks thingies
    $( ".likes" ).each(function( index ) {
        this.onclick = function() {
            exercise_id = Number(this.getAttribute("exercise-id"));
            handle_exercise_rating(exercise_id, "+1")
        };
    });
    $( ".dislikes" ).each(function( index ) {
        this.onclick = function() {
            exercise_id = Number(this.getAttribute("exercise-id"));
            handle_exercise_rating(exercise_id, "-1")
        };
    });

    
</script>
{% endblock %}