{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-lg-3" style="background-color: azure">
            <h2>The people you follow</h2>
            {% if follow %}
                {% for fol in follow %}
                    <h1>{{ fol.Following }}</h1>
                    <h2>Placeholder</h2>
                {% endfor %}
            {% else %}
                <div class="page-content">
                    <p>You are not following anyone</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}