{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-lg-3" style="background-color: azure">
            <h2>The people you follow:</h2>
            {% if follow %}
                {% for fol in follow %}
                    <h3>{{ fol.Following }}</h3>
                {% endfor %}
            {% else %}
                <div class="page-content">
                    <p>You are not following anyone</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}