{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "exercise/css/exercise.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'workout/css/workout.css' %}">
    <link rel=stylesheet type="text/css" href="{% static 'profile/css/profile.css' %}">
    <link rel="stylesheet" href="{% static "scrollbars.css" %}">

{% endblock %}

{% block content %}
<div class="page-content scrollbar-info">
    <div id="profile-header" style="background-image: url({{ user_info.cover_image }});">
        <div id="main-info">
             <div id="profile-image">
                <img src="{{ user_info.profile_image }}" class="img-fluid" alt="avatar">
            </div>
            <div class="">
                <div id="username">{{ user.username }}</div>
                <div id="full-name">{{ user_info.first_name }} {{ user_info.last_name }}</div>
                <div id="follower-count"><i class="fa fa-users" aria-hidden="true"></i> {{ follower_count }}</div>
            </div>
        </div>
        {% if request.user == user %}
            <a id="edit-profile" href="{% url 'edit-user' %} "><i class="fas fa-edit"></i>Edit User</a>
        {% endif %}
         <!-- if profile being viewed is not current user -->
        {% if request.user != user %}
            {% if status == 'not_friends' %}
                <a id="edit-profile" class='btn btn-primary' href="{% url 'send-request' user.id %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Add Friend</a>
            {% elif status == 'sent' %}
                <a id="edit-profile" class="btn btn-warning" href="{% url 'cancel-request' user.id %}">Cancel Request</a>
            {% elif status == 'received' %}
                <a id="edit-profile" class="btn btn-warning" href="{% url 'user_friends' %}">Request received</a>
            {% endif %}
        {% endif %}

        {% include 'user/profile_nav.html' %}
    </div>


    {% if request.user == user %}
        <div id="friends-container">
            <div id="friends-list-container">
                <div id="friends-list-title">
                    <h4>Friends List</h4>
                </div>
                <div class="scrollbar-info" id="friends-list">
                    {% for friend in friends %}
                    <ul>
                        <a class="profile-href" href="{% url 'profile' slug=friend.user.username %}">
                            <li class="friend"> <!-- ENDED HERE FIX THIS WANT TO SEND FRIEND IMAGE HERE-->
                                <img src="{{ friend.profile_image }}">
                                <div class="friend-name">{{ friend.user.username }}</div>
                            </li>
                        </a>
                    </ul>
                    {% endfor %}
                    <div id="special">
                        <ul id="sent-list">
                            {% for sent in sent_requests %}
                                    <li class="friend sent">
                                        <img src="https://d1bvpoagx8hqbg.cloudfront.net/259/4ea4217efbbf179e02269b065d23a60e.jpg">
                                         <a class="profile-href" href="{% url 'profile' slug=sent.ToUser.username %}">
                                             <div class="friend-name">{{ sent.ToUser.username }}</div>
                                         </a>
                                        <div class="accept-decline">
                                            <a href="{% url 'cancel-request' sent.ToUser.id %}">
                                                <button class="btn btn-danger accept-button"><i class="far fa-trash-alt"></i></button>
                                            </a>
                                        </div>
                                    </li>
                            {% endfor %}
                        </ul>

                        <ul id="received-list">
                            {% for received in received_requests %}
                                <li class="friend received"> <!-- ENDED HERE FIX THIS WANT TO SEND FRIEND IMAGE HERE-->
                                    <img src="https://d1bvpoagx8hqbg.cloudfront.net/259/4ea4217efbbf179e02269b065d23a60e.jpg">
                                    <a class="profile-href" href="{% url 'profile' slug=received.FromUser.username %}">
                                        <div class="friend-name">{{ received.FromUser.username }}</div>
                                    </a>
                                    <div class="accept-decline">
                                        <a href="{% url 'accept-request' received.FromUser.id %}">
                                            <button class="btn btn-primary accept-button"><i class="fas fa-user-check"></i></button>
                                        </a>
                                        <a href="{% url 'delete-request' received.FromUser.id %}">
                                            <button class="btn btn-danger decline-button"><i class="fas fa-user-minus"></i></button>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        <div id="buttons-special">
                            <div id="sent"><i class="fa fa-paper-plane" aria-hidden="true"></i> Sent</div>
                            <div id="incoming"><i class="fas fa-inbox"></i> Incoming</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="follower-list-container">
        <div id="find-user">
            <div id="find-user-title"><b>Find a user to follow</b></div>
            <form action="{% url 'searchbarUsers' %}" method="get">
                <input id="searchbar-input" class="form-control" type="text" name="search">
                <button id="submit-search" class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
            </form>
        </div>
        <div id="follower-list-title">
            <h4>Following List</h4>
        </div>
        <div class="scrollbar-info" id="follower-list">
            <ul>
                {% for person in following %}
                <a class="profile-href" href="{% url 'profile' slug=person.Following.username %}">
                    <li class="friend"> <!-- ENDED HERE FIX THIS WANT TO SEND FRIEND IMAGE HERE-->
                        <img src="https://d1bvpoagx8hqbg.cloudfront.net/259/4ea4217efbbf179e02269b065d23a60e.jpg">
                        <div class="friend-name">{{ person.Following.username }}</div>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="about-me">
        <div id="age"><b>Age:</b> {{ user_info.age }}</div>
        <div id="bio"><b>Bio:</b> {{ user_info.bio }}</div>
        <div id="member-since"><b>Member since</b>: {{ user_info.CreatedAt }}</div>
        <div id="email"><b>Email:</b> {{ user.email }}</div>
    </div>

    <div id="exercises">
        {% for exercise in exercises %}
            {% include 'exercise/single_exercise_minimal.html' with exercise=exercise %}
        {% endfor %}
    </div>

    <div id="workouts">
        {% for workout in workouts %}
            {% include 'workout/single_workout_minified.html' with workout=workout %}
        {% endfor %}
    </div>

</div>


{% endblock %}
{% block extra_js %}
    <script src="{% static 'profile/js/profile.js' %}"></script>
{% endblock %}