{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "exercise/css/exercise.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'workout/css/workout.css' %}">
    <link rel=stylesheet type="text/css" href="{% static 'profile/css/profile.css' %}">
    <link rel="stylesheet" href="{% static "scrollbars.css" %}">

{% endblock %}

{% block content %}
<div class="page-content scrollbar-info">
    <div id="profile-header" style="background-image: url({{ user_info.cover_image }});">
        <div id="main-info">
             <div id="profile-image">
                <img src="{{ user_info.profile_image }}" class="img-fluid" alt="avatar">
            </div>
            <div class="">
                <div id="username">{{ user.username }}</div>
                <div id="full-name">{{ user_info.first_name }} {{ user_info.last_name }}</div>
                <div id="follower-count"><i class="fa fa-users" aria-hidden="true"></i> {{ follower_count }}</div>
            </div>
        </div>
        {% if request.user == user %}
            <a id="edit-profile" href="{% url 'edit-user' %} "><i class="fas fa-edit"></i>Edit User</a>
        {% endif %}
         <!-- if profile being viewed is not current user -->
        {% if request.user != user %}
            {% if status == 'not_friends' %}
                <a id="edit-profile" class='btn btn-primary' href="{% url 'send-request' user.id %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Add Friend</a>
            {% elif status == 'sent' %}
                <a id="edit-profile" class="btn btn-warning" href="{% url 'cancel-request' user.id %}">Cancel Request</a>
            {% elif status == 'received' %}
                <a id="edit-profile" class="btn btn-warning" href="{% url 'user_friends' %}">Request received</a>
            {% endif %}
        {% endif %}

        {% include 'user/profile_nav.html' %}
    </div>


    {% if request.user == user %}
        <div id="friends-container">
            <div id="friends-list-container">
                <div id="friends-list-title">
                    <h4>Friends List</h4>
                </div>
                <div class="scrollbar-info" id="friends-list">
                    {% for friend in friends %}
                    <ul>
                        <li class="friend"> <!-- ENDED HERE FIX THIS WANT TO SEND FRIEND IMAGE HERE-->
                            <img src="{{ friend.profile_image }}">
                            <a class="profile-href" href="{% url 'profile' slug=friend.user.username %}">
                                <div class="friend-name">{{ friend.user.username }}</div>
                            </a>
                            <a href="{% url 'unfriend' friend.user.id %}">
                                <button class="btn btn-danger remove-friend">
                                <i class="fas fa-user-minus"></i>
                                </button>
                            </a>
                        </li>
                    </ul>
                    {% endfor %}
                    <div id="special">
                        <ul id="sent-list">
                            {% for sent in sent_requests %}
                                    <li class="friend sent">
                                        <img src="https://d1bvpoagx8hqbg.cloudfront.net/259/4ea4217efbbf179e02269b065d23a60e.jpg">
                                         <a class="profile-href" href="{% url 'profile' slug=sent.ToUser.username %}">
                                             <div class="friend-name">{{ sent.ToUser.username }}</div>
                                         </a>
                                        <div class="accept-decline">
                                            <a href="{% url 'cancel-request' sent.ToUser.id %}">
                                                <button class="btn btn-danger accept-button"><i class="far fa-trash-alt"></i></button>
                                            </a>
                                        </div>
                                    </li>
                            {% endfor %}
                        </ul>

                        <ul id="received-list">
                            {% for received in received_requests %}
                                <li class="friend received"> <!-- ENDED HERE FIX THIS WANT TO SEND FRIEND IMAGE HERE-->
                                    <img src="https://d1bvpoagx8hqbg.cloudfront.net/259/4ea4217efbbf179e02269b065d23a60e.jpg">
                                    <a class="profile-href" href="{% url 'profile' slug=received.FromUser.username %}">
                                        <div class="friend-name">{{ received.FromUser.username }}</div>
                                    </a>
                                    <div class="accept-decline">
                                        <a href="{% url 'accept-request' received.FromUser.id %}">
                                            <button class="btn btn-primary accept-button"><i class="fas fa-user-check"></i></button>
                                        </a>
                                        <a href="{% url 'delete-request' received.FromUser.id %}">
                                            <button class="btn btn-danger decline-button"><i class="fas fa-user-minus"></i></button>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        <div id="buttons-special">
                            <div id="sent"><i class="fa fa-paper-plane" aria-hidden="true"></i> Sent</div>
                            <div id="incoming"><i class="fas fa-inbox"></i> Incoming</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="follower-list-container">
        <div id="im-following">
            <div id="follower-list-title">
                <h4>Following</h4>
            </div>
            <div class="scrollbar-info" id="follower-list">
                <ul id="follower-list-ul">
                    {% for user_info in following %}
                        <li class="friend">
                            <img src="{{ user_info.profile_image }}">
                            <a class="profile-href" href="{% url 'profile' slug=user_info.user.username %}">
                                <div class="friend-name">{{ user_info.user.username }}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="search-results">
            <div id="find-user">
                <div id="find-user-title"><b>Find a user to follow</b></div>
                <div>
                    <input id="searchbar-input" class="form-control" type="text" name="search" placeholder="Type something..." value="">
                    <button id="submit-search" class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
                </div>
            </div>
            <div id="search-results-list-title">
                <h4>Search results</h4>
            </div>
            <div class="scrollbar-info" id="search-results-list">
                <ul id="search-result-content">

                </ul>
            </div>
        </div>
    </div>



    <div id="about-me">
        {% if not user_info.birth_date %}
            <div id="age"><b>Born:</b> </div>
        {% else %}
            <div id="age"><b>Born:</b> {{ user_info.birth_date }}</div>
        {% endif %}
        <div id="bio"><b>Bio:</b> {{ user_info.bio }}</div>
        <div id="member-since"><b>Member since</b>: {{ user_info.CreatedAt }}</div>
        <div id="email"><b>Email:</b> {{ user.email }}</div>

        {% if request.user != user %}
        <div id="donation-container">
            <form id="donation-form" method="POST" action="{% url 'profile' slug=user.username %}">
                {% csrf_token %}
                {% for field in donation_form %}
                    {{ field.label_tag }} {{ field }}
                    <button id="donate-button" type=submit form="donation-form" class="btn btn-primary">
                        <i class="fas fa-donate"></i> Donate
                    </button>
                    {% if field.errors %}
                    <div class="alert alert-danger" id="field-errors">{% for error in field.errors %}{{ error }}{% endfor %}</div>
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                             <div id="success-message" class="alert alert-success" id="field-errors">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </form>
        </div>
        {% endif %}
    </div>

    <div id="exercises">
        {% for exercise in exercises %}
            {% include 'exercise/single_exercise_minimal.html' with exercise=exercise %}
        {% endfor %}
    </div>

    <div id="workouts">
        {% for workout in workouts %}
            {% include 'workout/single_workout_minified.html' with workout=workout %}
        {% endfor %}
    </div>

    <div id="wallet">
        <div id="balance-info">
            <div id="balance"><b><i class="fas fa-coins"></i> {{ user_wallet.fitcoin }} Fitcoins</b></div>
            <a href="{% url 'purchase-fitcoins' %}"><button class="btn btn-primary"><i class="fas fa-cart-plus"></i> Top Up</button></a>
        </div>
        <div id="sent-transactions" class="scrollbar-info">
            <div class="table-title"><h4>Sent Transactions</h4></div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">To</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in sent_transactions %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <a href="{% url 'profile' slug=transaction.receiver.username %}">
                                {{ transaction.receiver.username }}
                            </a>
                        </td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="received-transactions" class="scrollbar-info">
            <div class="table-title"><h4>Received Transactions</h4></div>
           <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">From</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in received_transactions %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <a href="{% url 'profile' slug=transaction.sender.username %}">
                                {{ transaction.sender.username }}
                            </a>
                        </td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock %}
{% block extra_js %}
    <script>
        // Fetching user data once user submits search input
        $("#submit-search").on('click', function (e){
            e.preventDefault();
            let content_target_element = $('#search-result-content')
            let search_input = $('#searchbar-input').val();
            console.log(search_input);
            let response_data = null;
            $.ajax({
                url: "{% url 'search-user' %}",
                headers: {'X-CSRFToken': csrftoken},
                data: {'search_input': search_input},
                type: "GET",
                dataType: 'html',
                success: function (data) {
                    if (data) {
                        // Add the http response to element Omg I'm so cool
                        content_target_element.empty();
                        content_target_element.append(data);
                    }
                }
            });
        })

        function follow(val){
            console.log(val);
            let response_data = null;
            $.ajax({
                url: "{% url 'follow' %}",
                headers: {'X-CSRFToken': csrftoken},
                data: {'user_id': val},
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        response_data = data;
                        console.log(response_data);
                        follow_feedback(val)
                    }
                }
            });
        }
        function follow_feedback(val){
            let button = $('#follow-'+val);
            let follower_list = $('#follower-list-ul');
            let follower_div = button.parent('.friend');
            button.remove()
            follower_list.append(follower_div)
            /*

             */
        }

    </script>
    <script src="{% static 'profile/js/profile.js' %}"></script>
{% endblock %}
