{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel=stylesheet href={% static 'profile/css/profile.css' %}>
{% endblock %}



{% block content %}

<div class="page-content">
<div class="container">
    <div class="row my-1">
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-auto text-left">
                            <h1 class="text-left text-uppercase">{{ user.username }}</h1>
                        </div>
                        {% if request.user == user %}
                        <div class="col-md-auto text-right">
                            <h3>Find a user to follow</h3>
                            <form action="{% url 'searchbarUsers' %}" method="get">
                                <input type="text" name="search"/>
                                <button type="submit">Search</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-auto text-right">
                        {% if request.user == user %}
                            <a class='btn btn-primary' href="{% url 'user_friends' %}">My Friends</a>
                        {% else %}
                            {% if status == 'not_friends' %}
                                <a class='btn btn-primary' href="/friend-request/send/{{ user.id }}">Add Friend</a>
                            {% elif status == 'sent' %}
                                <a class="btn btn-warning" href="/friend-request/cancel/{{ user.id }}">Cancel Request</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-auto text-left">
                            <h6>{{ user_info.firstName }}</h6>
                            <h6>{{ user_info.lastName }}</h6>
                            <h6>Email Address: {{ user.email }}</h6>
                            <h6>Age: {{ user_info.age }}</h6>
                            <h6>Member since: {{ user_info.createdAt }}</h6>
                        </div>

                        <div class="col-md-12 mt-4">
                             <h5 class="text-left">My Exercises</h5>
                                <table class="table table-hover table-striped text-left">
                                    {% for exercise in exercises %}
                                        {% include 'exercise/single_exercise_minimal.html' with exercise=exercise %}
                                        <a href="{% url 'delete-exercise' exercise.id %}">
                                            <button class="btn btn-primary" type="button"><span>Delete exercise</span></button>
                                        </a>
                                    {% endfor %}
                                </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="{{ user_info.image }}" class="mx-auto img-fluid" alt="avatar">
            <button class="btn btn-primary" type="button"><span>Change Photo</span></button>
            <!-- Needs javascript implementation for new profile picture -->
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
            </label>
        </div>
    </div>
</div>

</div>

{% endblock %}


{% block extra_js %}

<script src="{% static 'workout/js/rate_exercise.js' %}"></script>
{% endblock %}