{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

{% endblock %}

{% block content %}

<div class="page-content">
<div class="container">
    <div class="row my-1">
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    {% for i in sr_user %}
                        <h1 class="mb-3">{{ i.username }}</h1>
                        <h4 class="mb-3">Date joined: {{ i.date_joined }}</h4>
                        <form method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Follow" />
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}


{% block extra_js %}

{% endblock %}