{% extends "base.html" %}
{% block content %}
    <div class="page-content">
        <h2>My friends</h2>
        {% for friend in friends_list %}
            <h3><a href="{{ friend.user.UserInfo.get_absolute_url }}">{{ friend.user.username }}</a></h3>
        {% endfor %}
    </div>
    <div class="page-content">
    <h2>Incoming friend requests</h2>
    {% for request in received %}
        <h3><a href=#> {{ request.FromUser.username }} </h3></a>
        <small><a class='btn btn-primary' href="/friend-request/accept/{{ request.FromUser.id }}">Accept</a></small>
        <small><a class='btn btn-warning' href="/friend-request/delete/{{ request.FromUser.id }}">Ignore</a></small>
    {% endfor %}
    </div>
{% endblock %}