{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "exercise/css/exercise.css" %}">
    <link rel="stylesheet" href="{% static "exercise/css/detail.css" %}">
    <link rel="stylesheet" href="{% static "scrollbars.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard_nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard_header.css' %}">
{% endblock %}

{% block content %}
    {% include 'dashboard/dashboard_header_exercise.html' %}
    <div class="search-bar">
    {% include 'dashboard/dashboard_nav_exercise_detail.html' with muscle_groups=muscle_groups %}
    </div>
    <div class="page-content">
        <div class="center-page-content">
            <div class="exercise-container">
                {% if exercise.Creator == request.user %}
                    <div id="edit-exercise"><h6>
                        <a href="{% url 'update_exercise' exercise.id %}"><i class="fas fa-edit"></i>Edit</a>
                    </h6></div>
                {% endif %}
                <div class="item-title">
                        <h1 class="text-center text-uppercase">{{ exercise.Title }}</h1>
                </div>
                {% if exercise.Description == None %}
                    <div><b>Description:</b> None</div>
                {% else %}
                    <div><b>Description</b></div><div id="exercise-description">{{ exercise.Description }}</div>
                {% endif %}
                <div><b>Trains:</b> {{exercise.muscle_group}}</div>
                {% if exercise.Equipment == None %}
                    <div><b>Equipment:</b> None</div>
                {% else %}
                    <div><b>Equipment:</b> {{exercise.Equipment}}</div>
                {% endif %}

                {% if exercise.Image != None %}
                    <img height="200px" width="200px" src="{{ exercise.Image }}" class="mx-auto img-fluid" alt="no image">
                {% endif %}

                <div class="social-stats">
                    <div class="likes" exercise-id="{{ exercise.id }}">
                        <span class="social-span">{{ exercise.Likes }}</span>
                        <!-- Needs javascript implementation for user changing his rating on page (+/- 1) -->
                        {% if exercise.Has_Liked %}
                            <i class="fa fa-thumbs-up like-idf liked"></i>
                        {% else %}
                            <i class="fa fa-thumbs-up like-idf"></i>
                        {% endif %}
                    </div>
                    <div class="dislikes"  exercise-id="{{ exercise.id }}">
                        <span class="social-span">{{ exercise.Dislikes }}</span>
                        {% if exercise.Has_Disliked %}
                            <i class="fa fa-thumbs-down dislike-idf disliked"></i>
                        {% else %}
                            <i class="fa fa-thumbs-down dislike-idf"></i>
                        {% endif %}
                    </div>
                </div>
                {% if request.user == exercise.Creator %}
                    <a id="delete-exercise" href="{% url 'delete-exercise' exercise.id %}">
                     <button class="btn btn-danger" type="button">Delete</button>
                 </a>
                {% endif %}
                <div class="exercise-creator">
                    {% if exercise.Creator.username == 'System' %}
                        {% if exercise.public == False %}
                            A private exercise by {{ exercise.Creator }}
                        {% else %}
                            A public exercise by {{ exercise.Creator }}
                        {% endif %}

                    {% else %}
                        <!-- Link to user profile -->
                        {% if exercise.public == False %}
                            <a href="#"><span style="color: black;">A private exercise by</span> {{ exercise.Creator }}</a>
                        {% else %}
                            <a href="#"><span style="color: black;">A public exercise by</span> {{ exercise.Creator }}</a>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

<script>let search_class="exercise-container"</script>
<script src="{% static 'search_page_content_filter.js' %}"></script>
<script src="{% static 'workout/js/rate_exercise.js' %}"></script>

{% endblock %}



